$DarkSteel: #2a3a42;
$MediumSteel: #3f5665;
$LightSteel: #bdd4de;
$OffWhite: #efefef;
$DarkOrange: #d63d05;
$LightOrange: #f15523;

$Black3: #131F151A;
$Brown: #fa683419;
$DarkBrown: #ef572680;
$FogBrown: #f5333314;
$TeamGreen: #007F46;
$DarkGreen: #3fd98380;
$DarkPurple: #7d48da80;
$Pink: #ffe2e5;
$Orange1: #FF4500;
$Orange2: #F56633;
$Ash1: #7b888e80;
$Grey1: #393838;
$Grey6: #808080;
$Grey7: #7c7c7c;
$Grey8: #919191;
$Grey9: #FFFFFF65;
$Grey10: #FFFFFFC3;
$Grey11: #81868b;
$White1: #F0F5FE;
$White4: #E0E0E0;
$PaleWhite: #F8F8F8;
$PaleWhite1: #f3f3f3;
$PaleWhite2: #edf2f4;
$PaleWhite4: #fffefe;


$Green: #3fd983;
$Blue: #4187f7;
$AliceBlue:#ebf3ff;
$SkyBlueDark: #5151ce;
$Blue1: #06c;
$Yellow: #ffc206;
$Purple: #7d48da;
$Orange: #fa6834;
$SkyBlue: #00b7b4;
$lightPink: #f9eae5;
$LightSkyBlue: #3799FF;
$Gray: #E8E8E8;
$Gray1: #ECEBED;
$Gray2: #747474;
$Gray3: #E2E2E2;
$Gray4: #c2c0c3;
$Black1: #00000012;

$RedWarning: #FF5555;
$Black: #000000;
$Grey: #3e5666;
$DarkShadeGray:#0A0A0A;
$Ash: #a4a4a4;
$White: #ffffff;
$MilkyWhite: #f1f2f3;
$White2: #cbd0d3;
$White3: #f2f2f7;
$Grey2: #2b3a4267;
$Grey3: #435664;
$Grey4: #8d8d8d;
$Gray87:#DEDEDE;
$BackgroundBlue: #4187f71a;
$BackgroundBlueHover: #4187F70D;
$LightBlue: #DCF0FF;
$DarkGrey: #BDD6DF;
$BackgroundWhite: #f7f7f7;
$BoxShadowBlack: #00000029;
$Black2: #2b3a42;
$Grey98: #fafafa;
$Grey44: #707070;
$Grey5: #cbd0d3;
$ReddishOrange: #ef5726;
$SoftViolet: #ad8aea;
$OrangeBackground: #f8eae4;
$FeelingGreatBackground: #fff6d9;
$ToughDayBackground: #fbe5dd;
$ToughDayBorder: #ff4002;

$CareerDevelopment: #3a89b5;
$HealthWellness: #95c93d;
$GlobalTechnology: #d31367;
$EnterpriseServices: #6cb5bb;
$RewardsRecognation: #7d56c5;

$BlueBorder: #102d50;
$BoxShadow: #00000070;
$LightGrey: #7f7f7f;
$BlueLink: #1669d0;
$OffGrey: #f5f5f5;

$BlueBackground: #0e71eb;
$ShadowBlack: #0000001a;
$GreyBorder: #707070;

$CardWhite: #efefef;

$YellowHover: #ffb800;
$YellowMessage: #ffcc67;
$BlackBackground: #ffb6001a;
$BlueHover: #4fb4b3;
$DarkBlueBackground: rgba(0, 183, 180, 0.2);
$RedHover: #ff4003;
$DarkRedBackground: rgba(255, 64, 2, 0.2);

$GreyishBlue: #c7c8ca;
$DarkGreyishBlue: #2b3a42;

//Adding for Kronos Integration
$KronosButtonDefault: #F2F2F2;
$KronosButtonDefaultBorder: #D6D6D6;
$KronosButtonHighlight: #C0EFD4;
$NotesOrangeColor: #FFD07D;
$YellowNotes: #FFC206;
$BackgroundNotesModal: #2B3A42;
